//loader
.loader {
    opacity: 0;
    animation: show 3000ms linear forwards;
}

@keyframes show {
    0% {
        opacity: 0%;
    }

    90% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}

.chargement {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background: rgb(66, 65, 65);
    opacity: 1;
    animation: load 3000ms linear forwards;
}

@keyframes load {
    0% {
        opacity: 100%;
    }
    99% {
        opacity: 100%;
    }
    100% {
        opacity: 0%;
    }
}

.omf {
    width: 200px;
    
    font-size: 35px;
    margin: auto;
    color: white;
    font-weight: bold;
    display: flex;
}

.texte1 {
    animation: pump 2200ms ease-out infinite;
    transform-origin: right;
}
.texte2 {
    animation: pump 2200ms ease-out 400ms infinite;
}
.texte3 {
    animation: pump 2200ms ease-out 800ms infinite;
    transform-origin: left;
}


@keyframes pump {
    0% {
        transform: scale(1);
    }
    10% {
        transform: scale(1);
    }
    28% {
        transform: scale(1.5);
    }
    100%{
        transform: scale(1);
    }
}

.ballons {
    display: flex;
    align-items: flex-end;
    width: 200px;
    height: 140px;
    justify-content: space-around;
    margin: auto;
}

.ballon1 {
    display: flex;
    height: 35px;
    width: 35px;
    background-color: rgb(133, 19, 133);
    border-radius: 9999px;
    animation: bounce 2200ms ease-in-out infinite;
}

.ballon2 {
    height: 30px;
    width: 30px;
    background-color: violet;
    border-radius: 9999px;
    animation: bounce 2200ms ease-in-out 400ms infinite;
}

.ballon3 {
    height: 30px;
    width: 30px;
    background-color: rgb(128, 246, 250);
    border-radius: 9999px;
    animation: bounce 2200ms ease-in-out 800ms infinite;
}

@keyframes bounce {
    
        0%   { transform: scale(1,1)      translateY(0); }
        10%  { transform: scale(1.1,.9)   translateY(0); }
        30%  { transform: scale(.9,1.1)   translateY(-60px); }
        50%  { transform: scale(1.05,.95) translateY(0); }
        57%  { transform: scale(1,1)      translateY(-7px); }
        64%  { transform: scale(1,1)      translateY(0); }
        100% { transform: scale(1,1)      translateY(0); }
}

//coeur
.rbox__coeur--full {
    font-size: $fontsize-coeur;
    opacity: 0;
    transform: scale(0);
    transition-duration: 1s;
    
}

.rbox__coeur:hover .rbox__coeur--full {
    opacity: (1);
    transform: scale(1);
}

.rbox__coeur:hover .rbox__coeur--empty {
    opacity: 0;
    transition-duration: 0.7s;
}

//selection
.plat:hover .plat__textbox {
    width: calc(100% - 135px);
    transition-duration: 1s;
}

.plat:hover .plat__prix {
    transform: translateX(-60px);
    transition-duration: 1s;
}

.plat:hover .plat__selection {
    transform: translateX(-60px);
    transition-duration: 1s;
}

.checkbox {
    transform: scale(0.5) rotate(280deg);
}

.plat:hover .checkbox {
    transform: scale(1.6) rotate(0deg);
    transition-duration: 0.7s;
    transition-delay: 0.3s;
}

//apparition_Menu
.a1 {
    opacity: 0;
    animation: appear 1100ms linear;
    animation-fill-mode: forwards;
}

.a2 {
    opacity: 0;
    animation: appear 1100ms linear;
    animation-delay: 150ms;
    animation-fill-mode: forwards;
}

.a3 {
    opacity: 0;
    animation: appear 1100ms linear;
    animation-delay: 300ms;
    animation-fill-mode: forwards;
}

.a4 {
    opacity: 0;
    animation: appear 1100ms linear;
    animation-delay: 450ms;
    animation-fill-mode: forwards;
}

@keyframes appear {
    0% {
        opacity: 0%;
        transform: translateY(200px);
    }

    60% {
        opacity: 30%;
        transform: translateY(-20px);
    }

    70% {
        transform: translateY(10px);
    }

    80% {
        transform: translateY(-5px);
    }

    90% {
        transform: translateY(5px);
    }

    100% {
        opacity: 100%;
        transform: translateY(0px);
    }
}


