//colors
.cblack {
    color: black;
}

.cwhite {
    color: white;
}

.cpurple {
    color: #9356DC;
}

.cgreen {
    color: rgb(0, 135, 102);
}


//background colors
.bwhite {
    background-color: white;
}

.bprim {
    background-color: #9356DC;
}

.bsec {
    background-color: #FF79DA;
}

.bter {
    background-color: #99E2D0;
}

.bcloud {
    background-color: rgb(245, 243, 243);
}

.bgrey {
    background-color: rgb(234, 234, 234);
}

.bdark {
    background-color: rgb(53, 53, 53);
}

.gradient {
    background: linear-gradient( 175deg, #FF79DA 10%, #9356DC);
}
