//flex
.flex {
    display: flex;
}

.justc {
    justify-content: center;
}

.justsb {
    justify-content: space-between;
}

.alignc {
    align-items: center;
}

.alignselffe {
    align-self: flex-end;
}

.textc {
    text-align: center;
}

.column {
    flex-direction: column;
}

//position
.rel {
    position: relative;
}

.abs {
    position: absolute;
}

.pastilleP {
    left: -12px;
}

.iconeP {
    left: 9%;
}

.statutP {
    top: 10%;
    right: 5%;
}

.coeurP {
    right: 40px;
    top: 14px;
}

.arrowP {
    left: 30px;
}

.menuP {
    margin-left: auto;
    margin-right: auto;
    margin-top: -40px;
}

.cardP {
    margin-top: 20px;
    margin-bottom: 50px;
}

.platP {
    margin-top: 20px;
    border-radius: 17px;
    padding: 12px;
}

.coeurMP {
    right: 30px;
}

//media queries
@media all and (min-width:850px) {
    .desktop {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .blockR {
        width: 48%;
    }
}