.arrow {
    left: $position-left-arrow;
    font-size: $fontsize-icone;
}

.photoM {
    width: $full;
    max-height: $height-photo-restaurant;
}

.menu {
    margin: auto;
    margin-top: -60px;
    max-width: 850px;
    border-radius: $radius-section-menu;

    &__titre {
        font-family: 'Shrinkhand';
        font-size: $fontsize-titre-restaurant;
        font-weight:normal;
        margin-right: 40px;
    }
}

.card {
    margin: 20px 0px 50px 0px;
    padding: 10px;
    overflow: hidden;
}

.plat {
    margin-top: 20px;
    border-radius: $radius-box-plat;
    height: 70px;
    overflow: hidden;

    &__textbox {
        padding: 12px 0px 12px 12px;
        width: calc(100% - 75px);
        overflow: hidden;
        white-space: nowrap;

        &__nom {
            overflow: hidden;
            text-overflow: ellipsis;
        }

        &__description {
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    &__prix {
        width: 60px;
        height: 80%;
        align-items: flex-end;
        font-family: 'Robotobo';
        font-size: $fontsize-prix;
        right: 0;
    }

    &__selection {
        width: 60px;
        height: 100%;
        background: $couleur-tertiaire;
        right: -60px;
    }
}

