@font-face {
  font-family: "Robotobl";
  src: url(../font/roboto/roboto-black.ttf);
}
@font-face {
  font-family: "Robotobo";
  src: url(../font/roboto/roboto-bold.ttf);
}
@font-face {
  font-family: "Robotol";
  src: url(../font/roboto/roboto-light.ttf);
}
@font-face {
  font-family: "Robotom";
  src: url(../font/roboto/roboto-medium.ttf);
}
@font-face {
  font-family: "Robotor";
  src: url(../font/roboto/roboto-regular.ttf);
}
@font-face {
  font-family: "Robotot";
  src: url(../font/roboto/roboto-thin.ttf);
}
@font-face {
  font-family: "Shrinkhand";
  src: url(../font/shrinkhand/shrikhand-regular.ttf);
}
.flex {
  display: flex;
}

.justc {
  justify-content: center;
}

.justsb {
  justify-content: space-between;
}

.alignc {
  align-items: center;
}

.textc {
  text-align: center;
}

.column {
  flex-direction: column;
}

.rel {
  position: relative;
}

.abs {
  position: absolute;
}

.cdark {
  color: black;
}

.clight {
  color: white;
}

.cprim {
  color: #9356DC;
}

.cter {
  color: #008766;
}

.bwhite {
  background-color: white;
}

.bprim {
  background-color: #9356DC;
}

.bsec {
  background-color: #FF79DA;
}

.bter {
  background-color: #99E2D0;
}

.bblock {
  background-color: #f5f3f3;
}

.bsection {
  background-color: #eaeaea;
}

.bfooter {
  background-color: #353535;
}

.gradient {
  background: linear-gradient(175deg, #FF79DA 10%, #9356DC);
}
.gradient:hover {
  background: linear-gradient(175deg, #ffa1e4 10%, #9356DC);
}

.shade {
  box-shadow: 0px 3px 9px #cec9c9;
}

.shade:hover {
  box-shadow: 0px 3px 9px #a1a0a0;
}

.fbox:hover {
  background-color: #f5edff;
}

.fbox:hover .fbox__icone {
  color: #9356DC;
}

.rbox__coeur--full {
  font-size: 30px;
  opacity: 0;
  transform: scale(0);
  transition-duration: 1s;
}

.rbox__coeur:hover .rbox__coeur--full {
  opacity: 1;
  transform: scale(1);
}

.rbox__coeur:hover .rbox__coeur--empty {
  opacity: 0;
  transition-duration: 0.7s;
}

.plat:hover .plat__textbox {
  width: calc(100% - 135px);
  transition-duration: 1s;
}

.plat:hover .plat__prix {
  transform: translateX(-60px);
  transition-duration: 1s;
}

.plat:hover .plat__selection {
  transform: translateX(-60px);
  transition-duration: 1s;
}

.checkbox {
  transform: scale(0.5) rotate(280deg);
}

.plat:hover .checkbox {
  transform: scale(1.6) rotate(0deg);
  transition-duration: 0.7s;
  transition-delay: 0.3s;
}

.arrow {
  left: 30px;
  font-size: 1.4em;
}

.photoM {
  width: 100%;
  max-height: 350px;
}

.menu {
  margin: auto;
  margin-top: -60px;
  max-width: 850px;
  border-radius: 40px 40px 0px 0px;
}
.menu__titre {
  font-family: "Shrinkhand";
  font-size: 35px;
  font-weight: normal;
}
.menu__coeur {
  right: 30px;
  font-size: 30px;
}

.card {
  margin: 20px 0px 50px 0px;
}

.plat {
  margin-top: 20px;
  border-radius: 17px;
  height: 70px;
  overflow: hidden;
}
.plat__textbox {
  padding: 12px 0px 12px 12px;
  width: calc(100% - 75px);
  overflow: hidden;
  white-space: nowrap;
}
.plat__textbox__nom {
  overflow: hidden;
  text-overflow: ellipsis;
}
.plat__textbox__description {
  overflow: hidden;
  text-overflow: ellipsis;
}
.plat__prix {
  width: 60px;
  height: 80%;
  align-items: flex-end;
  font-weight: bold;
  font-size: 0.9em;
  right: 0;
}
.plat__selection {
  width: 60px;
  height: 100%;
  background: #99E2D0;
  right: -60px;
}

* {
  font-family: "Robotol", "Cambria", "Cochin", "Georgia", "Times", "Times New Roman", serif;
}

*, li, ::before, ::after {
  margin: 0px;
  padding: 0px;
  border: 0;
  text-decoration: none;
}

h1, h2 {
  font-family: "Robotobl";
}

h3 {
  font-family: "Robotobo";
}

.prix {
  font-family: "Robotobo";
}

.center {
  max-width: 850px;
  margin: auto;
  padding: 30px 30px 50px 30px;
}

.lien {
  width: 100%;
  height: 100%;
}

img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.bouton {
  width: 70%;
  height: 50px;
  border-radius: 9999px;
  margin: 15px auto;
}

.underline {
  width: 60px;
  border-top: 3px solid #99E2D0;
}

.logo, .localisation {
  padding: 15px 0px;
}

.localisation__icone {
  font-size: 1.4em;
  width: 40px;
}

.presentation__titre {
  margin-bottom: 15px;
}
.presentation__texte {
  margin-bottom: 15px;
}

.fonctionnement__titre {
  margin-bottom: 15px;
}

.fbox {
  margin: 20px 0px;
  border-radius: 20px;
  height: 70px;
  margin-left: 12px;
}
.fbox__pastille {
  width: 24px;
  height: 24px;
  border-radius: 9999px;
  left: -12px;
}
.fbox__icone {
  width: 24px;
  left: 9%;
  font-size: 1.4em;
}

.restaurants__titre {
  margin-bottom: 15px;
}

.rbox {
  margin: 20px 0px;
  border-radius: 20px;
  overflow: hidden;
}
.rbox__photo {
  height: 150px;
}
.rbox__statut {
  font-family: "Robotobo";
  padding: 10px 15px;
  border-radius: 5px;
  top: 10%;
  right: 5%;
}
.rbox__nom {
  margin: 8px 20px;
}
.rbox__lieu {
  margin: 8px 20px;
}
.rbox__coeur {
  right: 40px;
  top: 14px;
  font-size: 30px;
}
.rbox__coeur--empty {
  top: 50%;
  left: 50%;
}
.rbox__coeur--full {
  top: 50%;
  left: 50%;
  background: linear-gradient(175deg, #FF79DA 10%, #9356DC);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}

.footer__titre {
  font-family: "Shrinkhand";
  font-size: 20px;
  font-weight: normal;
}
.footer__liste {
  list-style-type: none;
}
.footer__liste__icone {
  width: 24px;
}
.footer__liste a {
  margin: 4px 0px;
}
.footer__liste a:hover {
  text-decoration: underline;
}

@media all and (min-width: 850px) {
  .desktop {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 850px;
    margin: auto;
  }

  .rbox {
    width: 48%;
  }
}/*# sourceMappingURL=main.css.map */