@import './fonts';
@import './flex';
@import './image';
@import './lien';
@import './color';
@import './restaurant';

//body
*, ::before, ::after {
    margin: 0px;
    padding: 0px;
    border: 0;
}

.logo {
    padding: 15px 20px;
}

.localisation {
    padding: 15px 0px;

    i {
        width: 40px;
    }
}

.presentation {
    padding: 45px 35px;
    

    &__titre {
        padding-bottom: 15px;
    }

    &__texte {
        padding-bottom: 15px;
    }
}

.bouton {
    width: 70%;
    height: 50px;
    border-radius: 9999px;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 30px;
}

.fonctionnement {
    padding: 45px 35px;
    
    &__titre {
        margin-bottom: 20px;
    }
}

.blockF {
    height: 70px;
    margin-bottom: 30px;
    margin-left: 12px;
    border-radius: 20px;
    position: relative;

    &:hover .blockF__icone {
        color: #9356DC;
        
    }   

    &__pastille {
        width: 24px;
        height: 24px;
        border-radius: 9999px;
        position: absolute;
        left: -12px;
    }

    &__icone {
        position: absolute;
        left: 9%;
        width: 24px;
        font-size: 1.4em;
    }
}


.restaurants {
    padding: 45px 35px;

    .blockR {
        height: 250px;
        margin: 30px 0px;
        border-radius: 20px;
        overflow: hidden;

        &__photo {
            height: 150px;
            position: relative;

            &__statut {
                padding: 8px 15px;
                position :absolute;
                top: 10%;
                right: 5%;
                border-radius: 5px;
            }
        }

        &__texte {
            padding: 20px 20px;
            width: 100%;
            height: 80px;
            position: relative;
            
            &__localisation {
                padding-top: 5px;
            }

            &__coeur {
                width: 40px;
                height: 40px;
                position: absolute;
                font-size: 37px;
                border: 1px solid yellow;
                right: 15%;
                top: 30%;
            }
        }
    }
}

.piedDePage {
    padding: 15px 35px;
}

.liste {
    padding-bottom: 30px;
    list-style-type: none;
    padding: 0;

    &__element {
        margin: 8px 0px;
        
        a {
            display: flex;
            align-items: center;
        }

        &__icone {
            width: 24px;
        }
    }
}


