@font-face {
  font-family: "Robotobl";
  src: url(../font/roboto/roboto-black.ttf);
}
@font-face {
  font-family: "Robotobo";
  src: url(../font/roboto/roboto-bold.ttf);
}
@font-face {
  font-family: "Robotol";
  src: url(../font/roboto/roboto-light.ttf);
}
@font-face {
  font-family: "Robotom";
  src: url(../font/roboto/roboto-medium.ttf);
}
@font-face {
  font-family: "Robotor";
  src: url(../font/roboto/roboto-regular.ttf);
}
@font-face {
  font-family: "Robotot";
  src: url(../font/roboto/roboto-thin.ttf);
}
@font-face {
  font-family: "Shrinkhand";
  src: url(../font/shrinkhand/shrikhand-regular.ttf);
}
* {
  font-family: "Robotol", "Cambria", "Cochin", "Georgia", "Times", "Times New Roman", serif;
}

h1, h2 {
  font-family: "Robotobl";
}

h3 {
  font-family: "Robotobo";
}

.titre {
  font-family: "Shrinkhand";
  font-size: 20px;
  font-weight: normal;
}

.titreR {
  font-family: "Shrinkhand";
  font-size: 40px;
  font-weight: normal;
}

.prix {
  font-weight: bold;
  font-size: 0.9em;
}

.iconeF {
  font-size: 1.4em;
}

.coeurF {
  font-size: 30px;
}

.flex {
  display: flex;
}

.justc {
  justify-content: center;
}

.justsb {
  justify-content: space-between;
}

.alignc {
  align-items: center;
}

.alignselffe {
  align-self: flex-end;
}

.textc {
  text-align: center;
}

.column {
  flex-direction: column;
}

.rel {
  position: relative;
}

.abs {
  position: absolute;
}

.pastilleP {
  left: -12px;
}

.iconeP {
  left: 9%;
}

.statutP {
  top: 10%;
  right: 5%;
}

.coeurP {
  right: 40px;
  top: 14px;
}

.arrowP {
  left: 30px;
}

.menuP {
  margin-left: auto;
  margin-right: auto;
  margin-top: -40px;
}

.cardP {
  margin-top: 20px;
  margin-bottom: 50px;
}

.platP {
  margin-top: 20px;
  border-radius: 17px;
  padding: 12px;
}

.coeurMP {
  right: 30px;
}

@media all and (min-width: 850px) {
  .desktop {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .blockR {
    width: 48%;
  }
}
*, li, ::before, ::after {
  margin: 0px;
  padding: 0px;
  border: 0;
}

.marginBlock {
  margin: 20px 0px;
  border-radius: 20px;
}

.marginTexte {
  margin: 8px 20px;
}

.paddingSection {
  padding: 0px 20px;
  padding-top: 25px;
  padding-bottom: 50px;
}

.paddingHeader {
  padding: 15px 0px;
}

.paddingStatut {
  padding: 10px 15px;
  border-radius: 5px;
}

.mwc {
  max-width: 850px;
  margin: auto;
}

.blockF {
  height: 70px;
  padding-left: 12px;
}

.blockR {
  overflow: hidden;
}

.blockM {
  border-radius: 40px 40px 0px 0px;
  padding: 40px;
  padding-bottom: 50px;
  max-width: 850px;
}

.centerF {
  max-width: 850px;
  margin: auto;
}

.pastilleS {
  width: 24px;
  height: 24px;
  border-radius: 9999px;
}

.iconeS {
  width: 24px;
}

.mapS {
  width: 40px;
}

.coeurS {
  width: 40px;
  height: 40px;
}

.photoR {
  width: 100%;
  max-height: 400px;
}

.lien {
  width: 100%;
  height: 100%;
  text-decoration: none;
}

img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

li {
  list-style-type: none;
}

li:hover {
  text-decoration: underline;
}

.bouton {
  width: 70%;
  height: 50px;
  border-radius: 9999px;
  margin: 15px auto;
}

.photoA {
  height: 150px;
}

.underline {
  width: 60px;
  border-top: 3px solid #99E2D0;
}

.cblack {
  color: black;
}

.cwhite {
  color: white;
}

.cpurple {
  color: #9356DC;
}

.cgreen {
  color: #008766;
}

.bwhite {
  background-color: white;
}

.bprim {
  background-color: #9356DC;
}

.bsec {
  background-color: #FF79DA;
}

.bter {
  background-color: #99E2D0;
}

.bcloud {
  background-color: #f5f3f3;
}

.bgrey {
  background-color: #eaeaea;
}

.bdark {
  background-color: #353535;
}

.gradient {
  background: linear-gradient(175deg, #FF79DA 10%, #9356DC);
}

.shade {
  box-shadow: 0px 3px 9px #cec9c9;
}

.shade:hover {
  box-shadow: 0px 3px 9px #a1a0a0;
}

.blockF:hover {
  background-color: #f5edff;
}

.blockF:hover .iconeH {
  color: #9356DC;
}/*# sourceMappingURL=main.css.map */